body {
  margin: 0;
  padding: 0;
  background:url('../src/assets/img/pagina\ de\ inicio.jpg');
  background-size: cover;
  font-family: 'Inter', sans-serif;
}

.App {
 
  text-align: center;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  padding: 5px 450px;
 font-size: 16px;
}

.menu img {
  max-width: 100px;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu li {
  margin-right: 170px; /* Ajusta la cantidad de espacio entre opciones */
}

.menu a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.menu a:hover {
  color: #4fbd53;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
}

/* Estilos del contenedor del contenido */
.content-container {
  background-color: rgba(255, 255, 255, 0.459);
  text-align: center;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Estilos de la leyenda */
.legend {
  color: black;
  font-size: 36px; /* Ajusta el tamaño del texto según tus preferencias */
}

/* Estilos del footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #229a46; /* Cambia el color de fondo a tu elección */
  color: #ffffff; /* Cambia el color de texto a tu elección */
  padding: 0%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

}

/* Estilos de los íconos de redes sociales */
.footer-icons {
  display: flex;
  align-items: center;
}

.footer-icons a {
  margin-right: 10px; /* Espacio entre los íconos */
}

.footer-icons img {
  max-width: 30px; /* Ajusta el tamaño de los íconos según preferencias */
}

/* Estilos de la información de contacto */
.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-contact span {
  margin: 5px 0;
}

/* Estilos del logo de la empresa en el footer */
.footer-logo img {
  max-width: 100px; /* Ajusta el tamaño del logo de la empresa según preferencias */
}
